{% import "_macros.jinja" as macros -%}
version: "2.4"

services:
  odoo:
    {%- if odoo_oci_image %}
    image: {{ odoo_oci_image }}:{{ macros.version_minor(odoo_version) }}
    {%- endif %}
    build:
      context: ./odoo
      args:
        ODOO_VERSION: "{{ macros.version_minor(odoo_version) }}"
        UID: "${UID:-1000}"
        GID: "${GID:-1000}"
    environment:
      PGDATABASE: &dbname {{ postgres_dbname }}
      PGUSER: &dbuser "{{ postgres_username }}"
      DB_FILTER: "{{ odoo_dbfilter }}"
      PROXY_MODE: "{% if odoo_proxy %}true{% else %}false{% endif %}"
      LIST_DB: "{{ odoo_listdb | tojson }}"
    tty: true
    volumes:
      - filestore:/var/lib/odoo:z

  {% if postgres_version -%}
  db:
    image: ghcr.io/tecnativa/postgres-autoconf:{{ postgres_version }}-alpine
    shm_size: 512mb
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: *dbuser
      CONF_EXTRA: |
        work_mem = 512MB
    volumes:
      - db:/var/lib/postgresql/data:z
  {%- endif %}

  smtpfake:
    image: mailhog/mailhog
