{
  "python.analysis.extraPaths": [
    "odoo/custom/src/odoo"
  ],
  "python.linting.enabled": true,
  "diagnostic.enable": true,
  "diagnostic.refreshOnInsertMode": true,
  "python.linting.mypyEnabled": false,
  "python.linting.pylintEnabled": true,
  "suggest.floatEnable": true
}
