{
    "python.autoComplete.extraPaths": [
        "odoo/custom/src/odoo",
        "odoo/custom/src/enterprise",
    ],
    "python.jediEnabled": true,
    "python.linting.enabled": true,
    "diagnostic.enable": true,
    "diagnostic.refreshOnInsertMode": true,
    "python.linting.mypyEnabled": false,
    "python.linting.pylintEnabled": true,
    "suggest.floatEnable": true
}
