{% import "_macros.jinja" as macros -%}
name: build {{ macros.version_minor(odoo_version) }}

{%- raw %}
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true
{%- endraw %}

on:
  workflow_dispatch:
  {%- if github_actions_build_on_push %}
  push:
    branches: {{ github_actions_build_branches | tojson }}
    paths:
      - "odoo/**"
      - ".github/workflows/build.yaml"
  {%- endif %}
  {%- if github_actions_build_on_schedule and github_actions_build_on_schedule_cron %}
  schedule:
    - cron: {{ github_actions_build_on_schedule_cron | tojson }}
  {%- endif %}

{%- if github_actions_build_on_schedule and github_actions_build_on_schedule_cron %}
permissions:
  packages: read
{%- endif %}

env:
  ODOO_VERSION: "{{ macros.version_minor(odoo_version) }}"

jobs:
  {%- if github_actions_build_on_schedule and github_actions_build_on_schedule_cron %}
  check:
    runs-on: ubuntu-latest

    outputs:
      build_needed: ${{ steps.set-decision.outputs.build_needed }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Timestamps
        id: set-timestamps
        run: |
          NOW=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          ONE_DAY_AGO=$(date -u -d '-24 hours' +"%Y-%m-%dT%H:%M:%SZ")
          echo "NOW=$NOW" >> $GITHUB_ENV
          echo "ONE_DAY_AGO=$ONE_DAY_AGO" >> $GITHUB_ENV
      - name: Determine Changed Files
        id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch_depth: "100"
          since: ${{ env.ONE_DAY_AGO }}
          until: ${{ env.NOW }}
        continue-on-error: true

      - name: Determine if Build is Needed
        id: set-decision
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "Manual trigger detected. Forcing build."
            echo "build_needed=true" >> $GITHUB_OUTPUT
          elif [ "${{ steps.changed-files.outcome }}" == "failure" ]; then
            echo "No new changes detected or only one commit exists. Skipping build."
            echo "build_needed=false" >> $GITHUB_OUTPUT
          elif [ "${{ steps.changed-files.outputs.all_changed_files }}" != "" ]; then
            echo "Changes detected. Build needed."
            echo "build_needed=true" >> $GITHUB_OUTPUT
          else
            echo "No changes detected. Skipping build."
            echo "build_needed=false" >> $GITHUB_OUTPUT
          fi
          
  {%- endif %}
  build:
    runs-on: ubuntu-latest
    {%- if github_actions_build_on_schedule and github_actions_build_on_schedule_cron %}
    needs: check
    if: needs.check.outputs.build_needed == 'true'
    {%- endif %}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: {% raw %}${{ secrets.DOCKER_HUB_USER }}{% endraw %}
          password: {% raw %}${{ secrets.DOCKER_HUB_TOKEN }}{% endraw %}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            {{ odoo_oci_image }}
          tags: |
            {% raw %}type=raw,value={{ branch }}-{{ date 'X' tz='UTC' }}{% endraw %}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: odoo
          file: ./odoo/Dockerfile
          platforms: linux/amd64
          push: true
          build-args: |
            ODOO_VERSION={% raw %}${{ env.ODOO_VERSION }}{% endraw %}
            {%- if odoo_version >= 11 %}
            DB_VERSION={{ postgres_version or 'latest' }}
            {%- endif %}
          tags: {% raw %}${{ steps.meta.outputs.tags }}{% endraw %}
          labels: {% raw %}${{ steps.meta.outputs.labels }}{% endraw %}
