{%- import "_macros.jinja" as macros -%}
{
  // More info on this file: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.3.0",
  "configurations": [
    {
      "name": "Debug Odoo",
      "type": "debugpy",
      "request": "attach",
      "connect": {
        "host": "localhost",
        "port": {{ macros.version_major(odoo_version) }}899
      },
      "pathMappings": [
        {
          "localRoot": "${workspaceRoot}/odoo",
          "remoteRoot": "/opt/odoo"
        }
      ],
      "preLaunchTask": "invoke stopstart"
    },
    {
      "name": "Attach to Odoo Debug",
      "type": "debugpy",
      "request": "attach",
      "connect": {
        "host": "localhost",
        "port": {{ macros.version_major(odoo_version) }}899
      },
      "pathMappings": [
        {
          "localRoot": "${workspaceRoot}/odoo",
          "remoteRoot": "/opt/odoo"
        }
      ],
    }
  ]
}
